#include "ephemeral/Flutter-Generated.xcconfig"
FLUTTER_BUILD_MODE=release
FLUTTER_BUILD_NAME=0.9.4
FLUTTER_BUILD_NUMBER=1
DART_OBFUSCATION=false
TRACK_WIDGET_CREATION=false
TREE_SHAKE_ICONS=true
PACKAGE_CONFIG=.dart_tool/package_config.json
COMPILER_INDEX_STORE_ENABLE=NO
SWIFT_COMPILATION_MODE=wholemodule
SWIFT_OPTIMIZATION_LEVEL=-O
GCC_OPTIMIZATION_LEVEL=fast
ENABLE_BITCODE=NO
